<table class="admin">
	<th>Fetched at</th>
	<th>Fetch time</th>
	<th>New posts</th>
<% @fetches.each do |f| %>
	<tr>
		<td><%= f.created_at.in_eastern_time.strftime("%b #{f.created_at.in_eastern_time.day}, %Y %I:%M %p") %></td>
		<td><%= distance_of_time_in_words(f[:content][:time]) %></td>
		<td><%= f[:content][:posts] %></td>
	</tr>
<% end %>