<div style="display: none;">
</div>
<div id="quickpost-form-template" style="display: none;">
	<%= form_tag("/reader/quickpost", :method => "post") do %>
	
	<%= text_field_tag(:title, nil, {placeholder: "Title for your quick post", tabindex: 1}) %>
	
	<%= render "github_textarea", textarea: raw('<textarea name="comment[body]" tabindex="2" placeholder="Start writing here." class="js-comment-field js-size-to-fit input-with-fullscreen-icon"></textarea>') %>
	
	<div class="meta-page">
	  	<button type="submit" class="classy primary" style="float: right; margin-top: 10px;" tabindex="3">
			<span>Publish your Quickpost</span>
	    </button>
	</div>
	<% end %>
</div>
