<%= render "globals" %>

<div class="message-area-container" id="loading-area-container" style="display: none;">
	<div class="jfk-butterBar jfk-butterBar-shown jfk-butterBar-info" id="loading-area">Loading...</div>
</div>

<div id="broadcast-message-container" style="display: none;">
	<div id="broadcast-message">
		Thing has been loaded.
	</div>
</div>

<%= render "quickpost_form" %>

<div id="panes">
	<div id="left-pane">
		<div id="subscriptions">
		</div>
	</div>

	<div id="right-pane">
		<%= render "controls" %>

		<div id="entries">
		</div>
	</div>
	
	<div id="end-of-the-line" style="display: none;">
		You have no more items!
	</div>
	<div id="entries-loader" style="display: none;">
		<img class="ajax-loader-img" src="/assets/ajax-loader.gif"/>
	</div>
</div>

<%= render "markdown_help" %>

<script type="text/javascript">
	$(document).ready(function() {
		$("#subscriptions").load("/reader/subscriptions");
		$("#entries").load("/reader/index_entries");
	});
</script>
