<div id="stream">
	<div id="logo" style="position: absolute; top: 10px; left: 30px;"><span>readertron</span><img src="/assets/rss-bot-small.png"/></div>

	<div id="explanatory-note">
		<p><a href="/">Click here</a> to load the rest of the interface.</p>
    <p>It's possible to do advanced searches:</p>
    <p>Search for a specific user's stuff:<br/> <a href="/reader/search?query=user%3Acobb%20consciousness"><code>user:cobb consciousness</code></a></p>
    <p>Search in comments:<br/> <a href="/reader/search?query=comment%3A(avinash%20saltines)"><code>comment:(avinash saltines)</code></a></p>
    <p>Match exact phrases:<br/> <a href="/reader/search?query=%22marginal%20revolution%22%20shared%3Atrue%20krugman"><code>"marginal revolution" shared:true krugman</code></a></p>
	</div>

	<div id="right-pane">
		<div id="search-bar-container"><input type="text" id="search-bar" tabindex="1" placeholder="Search Readertron" value="<%= params[:query] %>"/></div>
    
		<div id="search-results">
      <% if @results.present? %>
      	<%= render partial: "search_results", locals: { results: @results } %>
      <% else %>
        <div id="no-search-results-message">
          No results for <b><%= params[:query] %></b> :(. Try another search!
        </div>
      <% end %>
    </div>
		<%= will_paginate @results %>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      if ($('.pagination').length) {
        $(window).scroll(function() {
          var url = $('.pagination .next_page').attr('href');
          if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
            $(".pagination").html("<img src='/assets/ajax-loader.gif'/>");
            $.getScript(url);
          }
        });
      };
	  
	  $("body").keydown(function(e) {
	  	searchFocus(e);
	  });
	  
	  var searchFocus = function(e) {
	  	if (e.keyCode == 191) {
	  		e.preventDefault();
	  		$("#search-bar").focus();
	  		$("#search-bar").select();
	  	}
	  };
	  
	  $("#search-bar").keyup(function(e) {
		if (e.keyCode == 13) {
			window.location = "/reader/search?query=" + encodeURIComponent($(this).val());
			return false;
		};
	  });
  });
</script>
