<script type="text/javascript">
	var SETTINGS = {
		date_sort: "revchron",
		items_filter: "unread",
		feed_id: "",
		page: 0
	};
 </script>

<div id="single">
	<div id="logo" style="position: absolute; top: 10px; left: 30px;"><span>readertron</span><img src="/assets/rss-bot-small.png"/></div>

	<div id="explanatory-note">
		<p><a href="/">Click here</a> to load the rest of the interface.</p>
	</div>

	<div id="right-pane">
		<%= render :partial => "share", locals: {entry: @entry, index: 0, unreadable: false} %>
	</div>
	<div id="entries-loader" style="display: none;">
		<img src="/assets/ajax-loader.gif"/>
	</div>
</div>

<script type="text/javascript">
  var USERS = <%= raw(User.select([:id, :fingerprint, :name, :email]).map { |u| {id: u.id, name: u.name, fingerprint: u.fingerprint, email: u.email} }.to_json) %>;
</script>

<%= render "markdown_help" %>